## *Informações Importantes:*

In [ ]:
# Aluno: Renan Marques Rodrigues


# Acessos:

# Atlas Adm:
# mongodb+srv://renanbjj88:<passowrd>@aula-soulcode.xcqcu.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

# Atlas Read/Write qualquer DB (SoulCode):
# mongodb+srv://soulcode:a1b2c3@aula-soulcode.xcqcu.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

# Arquivo Json para acesso ao Google Cloud
# https://storage.googleapis.com/projeto_individual_soulcode/arquivo_jason_key_de_acesso/booming-voice-339918-310247b74901.json
# Obs: O arquivo Json está público, caso precise do download. Durante o projeto, eu deixei uma cópia no Drive.

# Google Cloud ID:
# booming-voice-339918

## *Instalando e importando bibliotecas para salvar analisar arquivo original.*

In [ ]:
pip install pyspark # instalação do PySpark.

In [ ]:
pip install gcsfs # instalação do google

In [ ]:
pip install pymongo[srv]

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
import pandas as pd
from google.cloud import storage
import os
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, DateType
from pyspark.sql.window import Window
import pymongo
from pymongo import MongoClient

# Importação de bibliotecas necessárias para tratamento.

## *Logando e criando nosso DataFrame - CloudStorage / Pandas*

In [ ]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/content/projeto-final-telecom-345612-444c98a4639d.json'

# Autenticação com o arquivo Json para acesso ao gsutil na bucket onde está o arquivo original.

# Endereço público para download da chave Json, caso necessário para rodar o Projeto:
# https://storage.googleapis.com/projeto_individual_soulcode/arquivo_jason_key_de_acesso/booming-voice-339918-310247b74901.json

In [ ]:
bucket = storage.Client().get_bucket('projetofinal')
bl_names = [file.name for file in bucket.list_blobs(prefix='Originais/Banda Larga/A')]
bl_names
# Verificando quantidade de arquivos na bucket para criação do DataFrame.

['Originais/Banda Larga/Acessos_Banda_Larga_Fixa_2019-2020.csv',
 'Originais/Banda Larga/Acessos_Banda_Larga_Fixa_2021.csv']

In [ ]:
df = pd.read_csv('gs://projeto_individual_soulcode/arquivos_originais/marketing_campaign_original.csv')
df.head()

# criando o nosso dataframe em Pandas e começando a nossa limpeza.

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [ ]:
df2 = df.copy()

# Criando backup do dataframe

In [ ]:
df2.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

## Conectando e fazendo upload do arquivo em um novo DB / Coleção - MongoDB

In [ ]:
client = pymongo.MongoClient('mongodb+srv://renanbjj88:<password>@aula-soulcode.xcqcu.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')
client

# Criando conecção e conferindo se foi conectado corretamente

MongoClient(host=['aula-soulcode-shard-00-02.xcqcu.mongodb.net:27017', 'aula-soulcode-shard-00-00.xcqcu.mongodb.net:27017', 'aula-soulcode-shard-00-01.xcqcu.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-mw2cxa-shard-0', tls=True)

In [ ]:
colecao = client['Atividade_Individual'].arquivos_originais

# Aqui criei nosso banco de dados (Atividade_Individual) e criamos a nossa coleção (arquivos_originais)

In [ ]:
colecao.insert_many(df.to_dict('records'))

# inserindo todos os registros do DF transformando em formato dicionário.

In [ ]:
colecao.count_documents({})

# apenas para checagem, vamos conferir a contagem de linhas

2240

In [ ]:
df.count()

# Tudo certo.

ID                     2240
Year_Birth             2240
Education              2240
Marital_Status         2240
Income                 2216
Kidhome                2240
Teenhome               2240
Dt_Customer            2240
Recency                2240
MntWines               2240
MntFruits              2240
MntMeatProducts        2240
MntFishProducts        2240
MntSweetProducts       2240
MntGoldProds           2240
NumDealsPurchases      2240
NumWebPurchases        2240
NumCatalogPurchases    2240
NumStorePurchases      2240
NumWebVisitsMonth      2240
AcceptedCmp3           2240
AcceptedCmp4           2240
AcceptedCmp5           2240
AcceptedCmp1           2240
AcceptedCmp2           2240
Complain               2240
Z_CostContact          2240
Z_Revenue              2240
Response               2240
dtype: int64

## *Limpeza do Dados - Pandas*

In [ ]:
df.info() 

# Vendo as informações do DF original

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [ ]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'])

# Alterando tipos das colunas

In [ ]:
df.rename(columns={'Year_Birth':'Ano_Nascimento', 'Education':'Nivel_Educacional', 'Marital_Status':'Estado_Civil', 'Income':'Renda', \
                   'Kidhome':'Crianças_Em_Casa', 'Teenhome':'Adolescentes_Em_Casa', 'Dt_Customer':'Inscricao_Consumidor', 'Recency':'Dias_Ultima_compra', \
                   'MntWines':'Gasto_Vinho', 'MntFruits':'Gasto_Frutas', 'MntMeatProducts':'Gasto_Carne', 'MntFishProducts':'Gasto_Peixe', \
                   'MntSweetProducts':'Gasto_Doces', 'MntGoldProds':'Gast_Ouro', 'NumDealsPurchases':'Compras_Desconto', 'NumWebPurchases':'Compras_Web', \
                   'NumCatalogPurchases':'Compras_Catalogo', 'NumStorePurchases':'Compras_Loja', 'NumWebVisitsMonth':'Visita_Site_Mes', \
                   'AcceptedCmp3':'Tentativa_3', 'AcceptedCmp4':'Tentativa_4', 'AcceptedCmp5':'Tentativa_5', 'AcceptedCmp1':'Tentativa_1', \
                   'AcceptedCmp2':'Tentativa_2', 'Complain':'Reclamacao', 'Z_CostContact':'Custo_Contato', 'Z_Revenue':'Receita', 'Response':'Resposta'}, inplace=True)

In [ ]:
df.dtypes

# Verificando se todos os nomes foram trocados

ID                               int64
Ano_Nascimento                   int64
Nivel_Educacional               object
Estado_Civil                    object
Renda                          float64
Crianças_Em_Casa                 int64
Adolescentes_Em_Casa             int64
Inscricao_Consumidor    datetime64[ns]
Dias_Ultima_compra               int64
Gasto_Vinho                      int64
Gasto_Frutas                     int64
Gasto_Carne                      int64
Gasto_Peixe                      int64
Gasto_Doces                      int64
Gast_Ouro                        int64
Compras_Desconto                 int64
Compras_Web                      int64
Compras_Catalogo                 int64
Compras_Loja                     int64
Visita_Site_Mes                  int64
Tentativa_3                      int64
Tentativa_4                      int64
Tentativa_5                      int64
Tentativa_1                      int64
Tentativa_2                      int64
Reclamacao                       int64
Custo_Contato                    int64
Receita                          int64
Resposta                         int64
dtype: object

In [ ]:
pd.set_option('display.max_columns', None)
df.head(2)
# Mudando opção do Pandas para exibir todas as colunas ao mostrar a tabela.

,ID,Ano_Nascimento,Nivel_Educacional,Estado_Civil,Renda,Crianças_Em_Casa,Adolescentes_Em_Casa,Inscricao_Consumidor,Dias_Ultima_compra,Gasto_Vinho,Gasto_Frutas,Gasto_Carne,Gasto_Peixe,Gasto_Doces,Gast_Ouro,Compras_Desconto,Compras_Web,Compras_Catalogo,Compras_Loja,Visita_Site_Mes,Tentativa_3,Tentativa_4,Tentativa_5,Tentativa_1,Tentativa_2,Reclamacao,Custo_Contato,Receita,Resposta
0,5524,1957,Graduation,Single,58138.0,0,0,2012-04-09,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-08-03,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0

In [ ]:
df.duplicated().sum()

# Não há linhas inteiras duplicadas

0

In [ ]:
df.isna().sum()

# Verificando se há e qual a quantidade de valores nulos no dataframe.

ID                       0
Ano_Nascimento           0
Nivel_Educacional        0
Estado_Civil             0
Renda                   24
Crianças_Em_Casa         0
Adolescentes_Em_Casa     0
Inscricao_Consumidor     0
Dias_Ultima_compra       0
Gasto_Vinho              0
Gasto_Frutas             0
Gasto_Carne              0
Gasto_Peixe              0
Gasto_Doces              0
Gast_Ouro                0
Compras_Desconto         0
Compras_Web              0
Compras_Catalogo         0
Compras_Loja             0
Visita_Site_Mes          0
Tentativa_3              0
Tentativa_4              0
Tentativa_5              0
Tentativa_1              0
Tentativa_2              0
Reclamacao               0
Custo_Contato            0
Receita                  0
Resposta                 0
dtype: int64

In [ ]:
df[df['Renda'].isna()].head(25)

# Por ser apenas 24 campos no espaço Renda (Representando apenas 1,07 % do total da tabela)
# Não é algo que influenciará muito na análise, então vou remover os valores núlos

,ID,Ano_Nascimento,Nivel_Educacional,Estado_Civil,Renda,Crianças_Em_Casa,Adolescentes_Em_Casa,Inscricao_Consumidor,Dias_Ultima_compra,Gasto_Vinho,Gasto_Frutas,Gasto_Carne,Gasto_Peixe,Gasto_Doces,Gast_Ouro,Compras_Desconto,Compras_Web,Compras_Catalogo,Compras_Loja,Visita_Site_Mes,Tentativa_3,Tentativa_4,Tentativa_5,Tentativa_1,Tentativa_2,Reclamacao,Custo_Contato,Receita,Resposta
10,1994,1983,Graduation,Married,NaN,1,0,2013-11-15,11,5,5,6,0,2,1,1,1,0,2,7,0,0,0,0,0,0,3,11,0
27,5255,1986,Graduation,Single,NaN,1,0,2013-02-20,19,5,1,3,3,263,362,0,27,0,0,1,0,0,0,0,0,0,3,11,0
43,7281,1959,PhD,Single,NaN,0,0,2013-05-11,80,81,11,50,3,2,39,1,1,3,4,2,0,0,0,0,0,0,3,11,0
48,7244,1951,Graduation,Single,NaN,2,1,2014-01-01,96,48,5,48,6,10,7,3,2,1,4,6,0,0,0,0,0,0,3,11,0
58,8557,1982,Graduation,Single,NaN,1,0,2013-06-17,57,11,3,22,2,2,6,2,2,0,3,6,0,0,0,0,0,0,3,11,0
71,10629,1973,2n Cycle,Married,NaN,1,0,2012-09-14,25,25,3,43,17,4,17,3,3,0,3,8,0,0,0,0,0,0,3,11,0
90,8996,1957,PhD,Married,NaN,2,1,2012-11-19,4,230,42,192,49,37,53,12,7,2,8,9,0,0,0,0,0,0,3,11,0
91,9235,1957,Graduation,Single,NaN,1,1,2014-05-27,45,7,0,8,2,0,1,1,1,0,2,7,0,0,0,0,0,0,3,11,0
92,5798,1973,Master,Together,NaN,0,0,2013-11-23,87,445,37,359,98,28,18,1,2,4,8,1,0,0,0,0,0,0,3,11,0
128,8268,1961,PhD,Married,NaN,0,1,2013-11-07,23,352,0,27,10,0,15,3,6,1,7,6,0,0,0,0,0,0,3,11,0
133,1295,1963,Graduation,Married,NaN,0,1,2013-11-08,96,231,65,196,38,71,124,1,6,5,7,4,0,0,0,0,0,0,3,11,0
312,2437,1989,Graduation,Married,NaN,0,0,2013-03-06,69,861,138,461,60,30,61,1,6,5,12,3,0,1,0,1,0,0,3,11,0
319,2863,1970,Graduation,Single,NaN,1,2,2013-08-23,67,738,20,172,52,50,20,6,2,3,10,7,0,1,0,1,0,0,3,11,0
1379,10475,1970,Master,Together,NaN,0,1,2013-01-04,39,187,5,65,26,20,14,2,4,2,6,5,0,0,0,0,0,0,3,11,0
1382,2902,1958,Graduation,Together,NaN,1,1,2012-03-09,87,19,4,12,2,2,6,1,1,0,3,5,0,0,0,0,0,0,3,11,0
1383,4345,1964,2n Cycle,Single,NaN,1,1,2014-12-01,49,5,1,9,2,0,4,1,1,0,2,7,0,0,0,0,0,0,3,11,0
1386,3769,1972,PhD,Together,NaN,1,0,2014-02-03,17,25,1,13,0,0,3,1,1,0,3,7,0,0,0,0,0,0,3,11,0
2059,7187,1969,Master,Together,NaN,1,1,2013-05-18,52,375,42,48,94,66,96,7,4,10,4,3,0,0,0,0,0,0,3,11,0
2061,1612,1981,PhD,Single,NaN,1,0,2013-05-31,82,23,0,15,0,2,7,2,3,0,3,6,0,0,0,0,0,0,3,11,0
2078,5079,1971,Graduation,Married,NaN,1,1,2013-03-03,82,71,1,16,0,0,9,4,2,1,3,8,0,0,0,0,0,0,3,11,0
2079,10339,1954,Master,Together,NaN,0,1,2013-06-23,83,161,0,22,0,0,24,2,4,1,4,6,0,0,0,0,0,0,3,11,0
2081,3117,1955,Graduation,Single,NaN,0,1,2013-10-18,95,264,0,21,12,6,147,3,6,1,5,7,0,0,0,0,0,0,3,11,0
2084,5250,1943,Master,Widow,NaN,0,0,2013-10-30,75,532,126,490,164,126,126,1,5,5,11,1,0,0,1,0,0,0,3,11,1
2228,8720,1978,2n Cycle,Together,NaN,0,0,2012-12-08,53,32,2,1607,12,4,22,0,0,0,1,0,0,1,0,0,0,0,3,11,0

In [ ]:
df = df.dropna()
df.isna().sum()

# Dropando valores nulos e conferindo

ID                      0
Ano_Nascimento          0
Nivel_Educacional       0
Estado_Civil            0
Renda                   0
Crianças_Em_Casa        0
Adolescentes_Em_Casa    0
Inscricao_Consumidor    0
Dias_Ultima_compra      0
Gasto_Vinho             0
Gasto_Frutas            0
Gasto_Carne             0
Gasto_Peixe             0
Gasto_Doces             0
Gast_Ouro               0
Compras_Desconto        0
Compras_Web             0
Compras_Catalogo        0
Compras_Loja            0
Visita_Site_Mes         0
Tentativa_3             0
Tentativa_4             0
Tentativa_5             0
Tentativa_1             0
Tentativa_2             0
Reclamacao              0
Custo_Contato           0
Receita                 0
Resposta                0
dtype: int64

In [ ]:
# Verificando valores "estranhos" nas colunas Receita e Custo_Contato

In [ ]:
df['Receita'].value_counts()

11    2216
Name: Receita, dtype: int64

In [ ]:
df['Custo_Contato'].value_counts()

3    2216
Name: Custo_Contato, dtype: int64

In [ ]:
df.drop('Custo_Contato', axis=1, inplace=True)
df.drop('Receita', axis=1, inplace=True)
df.head(3)
# Dropando a Custo de contato e Receita pois os valores são fixos em todas as linhas
# Não havendo necessidade de uma coluna apenas para elas.

,ID,Ano_Nascimento,Nivel_Educacional,Estado_Civil,Renda,Crianças_Em_Casa,Adolescentes_Em_Casa,Inscricao_Consumidor,Dias_Ultima_compra,Gasto_Vinho,Gasto_Frutas,Gasto_Carne,Gasto_Peixe,Gasto_Doces,Gast_Ouro,Compras_Desconto,Compras_Web,Compras_Catalogo,Compras_Loja,Visita_Site_Mes,Tentativa_3,Tentativa_4,Tentativa_5,Tentativa_1,Tentativa_2,Reclamacao,Resposta
0,5524,1957,Graduation,Single,58138.0,0,0,2012-04-09,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-08-03,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,0

In [ ]:
df['Resposta'] = df['Resposta'].astype(str)
df.info()

# Aqui vamos trocar os valores da coluna "Resposta" de "1" para "Sim" e "2" para "Não"
# A Resposta é ligada às colunas de Tentativas (Ofertas feitas para o cliente)
# Visualmente, escolhi por deixar como Sim / Não para melhor entendimento

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216 entries, 0 to 2239
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    2216 non-null   int64
 1   Ano_Nascimento        2216 non-null   int64
 2   Nivel_Educacional     2216 non-null   object
 3   Estado_Civil          2216 non-null   object
 4   Renda                 2216 non-null   float64
 5   Crianças_Em_Casa      2216 non-null   int64
 6   Adolescentes_Em_Casa  2216 non-null   int64
 7   Inscricao_Consumidor  2216 non-null   datetime64[ns]
 8   Dias_Ultima_compra    2216 non-null   int64
 9   Gasto_Vinho           2216 non-null   int64
 10  Gasto_Frutas          2216 non-null   int64
 11  Gasto_Carne           2216 non-null   int64
 12  Gasto_Peixe           2216 non-null   int64
 13  Gasto_Doces           2216 non-null   int64
 14  Gast_Ouro             2216 non-null   int64
 15  Compras_Desconto      2216 non-null   int64
 16  Compras_Web           2216 non-null   int64
 17  Compras_Catalogo      2216 non-null   int64
 18  Compras_Loja          2216 non-null   int64
 19  Visita_Site_Mes       2216 non-null   int64
 20  Tentativa_3           2216 non-null   int64
 21  Tentativa_4           2216 non-null   int64
 22  Tentativa_5           2216 non-null   int64
 23  Tentativa_1           2216 non-null   int64
 24  Tentativa_2           2216 non-null   int64
 25  Reclamacao            2216 non-null   int64
 26  Resposta              2216 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(22), object(3)
memory usage: 484.8+ KB

In [ ]:
df['Resposta'].replace('1', 'Sim', inplace=True)
df['Resposta'].replace('0', 'Não', inplace=True)
df['Resposta'].value_counts()

# Trocas efetuadas e conferidas

Não    1883
Sim     333
Name: Resposta, dtype: int64

In [ ]:
df['Tentativa_1'] = df['Tentativa_1'].astype(str)
df['Tentativa_2'] = df['Tentativa_2'].astype(str)
df['Tentativa_3'] = df['Tentativa_3'].astype(str)
df['Tentativa_4'] = df['Tentativa_4'].astype(str)
df['Tentativa_5'] = df['Tentativa_5'].astype(str)

# O mesmo vai ser feito nas colunas de tentativas, para facilitar o entendimento.

In [ ]:
df['Tentativa_1'].replace('1', 'Sim', inplace=True)
df['Tentativa_1'].replace('0', 'Não', inplace=True)

df['Tentativa_2'].replace('1', 'Sim', inplace=True)
df['Tentativa_2'].replace('0', 'Não', inplace=True)

df['Tentativa_3'].replace('1', 'Sim', inplace=True)
df['Tentativa_3'].replace('0', 'Não', inplace=True)

df['Tentativa_4'].replace('1', 'Sim', inplace=True)
df['Tentativa_4'].replace('0', 'Não', inplace=True)

df['Tentativa_5'].replace('1', 'Sim', inplace=True)
df['Tentativa_5'].replace('0', 'Não', inplace=True)

In [ ]:
df['Reclamacao'].value_counts()

# A Coluna Reclamação segue o mesmo padrão

0    2195
1      21
Name: Reclamacao, dtype: int64

In [ ]:
df['Reclamacao'] = df['Reclamacao'].astype(str)

# Trocando tipo de coluna para troca de valores

In [ ]:
df['Reclamacao'].replace('1', 'Sim', inplace=True)
df['Reclamacao'].replace('0', 'Não', inplace=True)
df.head(5)

# Valores trocados para melhor compreensão das análises

,ID,Ano_Nascimento,Nivel_Educacional,Estado_Civil,Renda,Crianças_Em_Casa,Adolescentes_Em_Casa,Inscricao_Consumidor,Dias_Ultima_compra,Gasto_Vinho,Gasto_Frutas,Gasto_Carne,Gasto_Peixe,Gasto_Doces,Gast_Ouro,Compras_Desconto,Compras_Web,Compras_Catalogo,Compras_Loja,Visita_Site_Mes,Tentativa_3,Tentativa_4,Tentativa_5,Tentativa_1,Tentativa_2,Reclamacao,Resposta
0,5524,1957,Graduation,Single,58138.0,0,0,2012-04-09,58,635,88,546,172,88,88,3,8,10,4,7,Não,Não,Não,Não,Não,Não,Sim
1,2174,1954,Graduation,Single,46344.0,1,1,2014-08-03,38,11,1,6,2,1,6,2,1,1,2,5,Não,Não,Não,Não,Não,Não,Não
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,Não,Não,Não,Não,Não,Não,Não
3,6182,1984,Graduation,Together,26646.0,1,0,2014-10-02,26,11,4,20,10,3,5,2,2,0,4,6,Não,Não,Não,Não,Não,Não,Não
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,Não,Não,Não,Não,Não,Não,Não

In [ ]:
df['Reclamacao'].value_counts()

# Apenas conferindo se está tudo ok com os novos valores.
# E se a quantidade é a mesma que em número, só para ter certeza que deu tudo certo.

Não    2195
Sim      21
Name: Reclamacao, dtype: int64

In [ ]:
df['Crianças_Em_Casa'].value_counts()

# Conferindo se essa coluna também é Sim / Não ou se é quantidade de crianças.

0    1283
1     887
2      46
Name: Crianças_Em_Casa, dtype: int64

In [ ]:
df['Adolescentes_Em_Casa'].value_counts()

# Também conferindo a coluna de Adolescentes.

0    1147
1    1018
2      51
Name: Adolescentes_Em_Casa, dtype: int64

In [ ]:
df['Nivel_Educacional'].value_counts()

# Pegando os valores para efetuar a traduação

Graduation    1116
PhD            481
Master         365
2n Cycle       200
Basic           54
Name: Nivel_Educacional, dtype: int64

In [ ]:
df['Nivel_Educacional'].replace('Graduation', 'Graduação', inplace=True)
df['Nivel_Educacional'].replace('Master', 'Mestrado', inplace=True)
df['Nivel_Educacional'].replace('2n Cycle', 'Pós Graduação', inplace=True)
df['Nivel_Educacional'].replace('Basic', 'Fundamental', inplace=True)
df['Nivel_Educacional'].value_counts()

# Aqui estamos trocando os nomes de todos os valores do Nível Educacional

Graduação        1116
PhD               481
Mestrado          365
Pós Graduação     200
Fundamental        54
Name: Nivel_Educacional, dtype: int64

In [ ]:
df['Estado_Civil'].value_counts()

# Agora vamos traduzir os valores do Estado Civíl
# Podemos ver que alguns dos valores atribuídos fogem do padrão,
# Como por exemplo: Alone (Sozinho), Absurd (Absurdo) e YOLO (Abreviação para só se vive uma vez em inglês)
# Esse valores foram inseridos pelos usuários ou é algo comum nesse tipo de campo?

Married     857
Together    573
Single      471
Divorced    232
Widow        76
Alone         3
Absurd        2
YOLO          2
Name: Estado_Civil, dtype: int64

In [ ]:
df['Estado_Civil'].replace('Married', 'Casado', inplace=True)
df['Estado_Civil'].replace('Together', 'União Estável', inplace=True)
df['Estado_Civil'].replace('Single', 'Solteiro', inplace=True)
df['Estado_Civil'].replace('Divorced', 'Divorciado', inplace=True)
df['Estado_Civil'].replace('Widow', 'Viúvo', inplace=True)
df['Estado_Civil'].replace('Alone', 'Trocar', inplace=True)
df['Estado_Civil'].replace('Absurd', 'Trocar', inplace=True)
df['Estado_Civil'].replace('YOLO', 'Trocar', inplace=True)

# Feita a tradução dos valores para o português e selecionado os valores fora do padrão

In [ ]:
df['Estado_Civil'].replace('Trocar', pd.NA, inplace=True)
df['Estado_Civil'].value_counts()

# Existiam 3 tipos de valores "fora do padrão" que serão excluídos para manter o padrão do DataFrame

# OBS: Não estava sendo possível fazer a troca dos 3 valores direto para NA, pois estava dando um problema de imcompatibilidade com o numpy.
# A solução mais fácil/rápida que encontrei foi transformar em um valor qualquer ('Trocar') e transformar esse valor em NA.

Casado           857
União Estável    573
Solteiro         471
Divorciado       232
Viúvo             76
Name: Estado_Civil, dtype: int64

In [ ]:
df = df.dropna()
df.isna().sum()

# dropando NA e conferindo.

ID                      0
Ano_Nascimento          0
Nivel_Educacional       0
Estado_Civil            0
Renda                   0
Crianças_Em_Casa        0
Adolescentes_Em_Casa    0
Inscricao_Consumidor    0
Dias_Ultima_compra      0
Gasto_Vinho             0
Gasto_Frutas            0
Gasto_Carne             0
Gasto_Peixe             0
Gasto_Doces             0
Gast_Ouro               0
Compras_Desconto        0
Compras_Web             0
Compras_Catalogo        0
Compras_Loja            0
Visita_Site_Mes         0
Tentativa_3             0
Tentativa_4             0
Tentativa_5             0
Tentativa_1             0
Tentativa_2             0
Reclamacao              0
Resposta                0
dtype: int64

## *Novo Backup + Envio para Google Cloud Storage - CloudStorage / Pandas*
##              *Envio para MongoDB arquivo modificado pandas*

In [ ]:
df_fin_pandas = df.copy()
# Backup Criado

In [ ]:
df.to_csv('gs://projeto_individual_soulcode/arquivos_modificados/marketing_campaign_finalizado_pandas.csv', index=False)
# Arquivo na bucket da Google Cloud sem o Index, para não atrapalhar futuras consultas.

In [ ]:
colecao_mod_p = client['Atividade_Individual'].arquivos_modificados_pandas
colecao_mod_p.insert_many(df.to_dict('records'))

# Inserido arquivos modificados via pandas na nova coleção arquivos_modificados

In [ ]:
colecao_mod_p.count_documents({})

# Conferindo contagem de linhas e contagem de arquivos enviados para a nova coleção

2209

In [ ]:
df.count()

ID                      2209
Ano_Nascimento          2209
Nivel_Educacional       2209
Estado_Civil            2209
Renda                   2209
Crianças_Em_Casa        2209
Adolescentes_Em_Casa    2209
Inscricao_Consumidor    2209
Dias_Ultima_compra      2209
Gasto_Vinho             2209
Gasto_Frutas            2209
Gasto_Carne             2209
Gasto_Peixe             2209
Gasto_Doces             2209
Gast_Ouro               2209
Compras_Desconto        2209
Compras_Web             2209
Compras_Catalogo        2209
Compras_Loja            2209
Visita_Site_Mes         2209
Tentativa_3             2209
Tentativa_4             2209
Tentativa_5             2209
Tentativa_1             2209
Tentativa_2             2209
Reclamacao              2209
Resposta                2209
dtype: int64

## *Importação do arquivo e criação de DataFrame via PySpark*

In [ ]:
spark = (
    SparkSession.builder
    .master('local')
    .appName('Projeto_Individual')
    .config('spark.ui.port','4050')
    .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
    .getOrCreate()
)

# Criado a sessão para utilizarmos o PySpark

In [ ]:
meu_schema = ( StructType ([
                            StructField("ID", IntegerType(), True),
                            StructField("Ano_Nascimento", IntegerType(), True),
                            StructField("Nivel_Educacional", StringType(), True),
                            StructField("Estado_Civil", StringType(), True),
                            StructField("Renda", FloatType(), True),
                            StructField("Crianças_Em_Casa", IntegerType(), True),
                            StructField("Adolescentes_Em_Casa", IntegerType(), True),
                            StructField("Inscricao_Consumidor", DateType(), True),
                            StructField("Dias_Ultima_compra", IntegerType(), True),
                            StructField("Gasto_Vinho", IntegerType(), True),
                            StructField("Gasto_Frutas", IntegerType(), True),
                            StructField("Gasto_Carne", IntegerType(), True),
                            StructField("Gasto_Peixe", IntegerType(), True),
                            StructField("Gasto_Doces", IntegerType(), True),
                            StructField("Gast_Ouro", IntegerType(), True),
                            StructField("Compras_Desconto",IntegerType(), True),
                            StructField("Compras_Web", IntegerType(), True),
                            StructField("Compras_Catalogo", IntegerType(), True),
                            StructField("Compras_Loja", IntegerType(), True),
                            StructField("Visita_Site_Mes", IntegerType(), True),
                            StructField("Tentativa_3", StringType(), True),
                            StructField("Tentativa_4", StringType(), True),
                            StructField("Tentativa_5", StringType(), True),
                            StructField("Tentativa_1", StringType(), True),
                            StructField("Tentativa_2", StringType(), True),
                            StructField("Reclamacao", StringType(), True),
                            StructField("Resposta", StringType(), True),      
                            ])
)

# StructType criado para importação

In [ ]:
df = spark.createDataFrame(df_fin_pandas, schema=meu_schema)
df.printSchema()

# Aqui nós criamos o nosso DataFrame Spark baseado no DF do Pandas com o Schema que criamos

root
 |-- ID: integer (nullable = true)
 |-- Ano_Nascimento: integer (nullable = true)
 |-- Nivel_Educacional: string (nullable = true)
 |-- Estado_Civil: string (nullable = true)
 |-- Renda: float (nullable = true)
 |-- Crianças_Em_Casa: integer (nullable = true)
 |-- Adolescentes_Em_Casa: integer (nullable = true)
 |-- Inscricao_Consumidor: date (nullable = true)
 |-- Dias_Ultima_compra: integer (nullable = true)
 |-- Gasto_Vinho: integer (nullable = true)
 |-- Gasto_Frutas: integer (nullable = true)
 |-- Gasto_Carne: integer (nullable = true)
 |-- Gasto_Peixe: integer (nullable = true)
 |-- Gasto_Doces: integer (nullable = true)
 |-- Gast_Ouro: integer (nullable = true)
 |-- Compras_Desconto: integer (nullable = true)
 |-- Compras_Web: integer (nullable = true)
 |-- Compras_Catalogo: integer (nullable = true)
 |-- Compras_Loja: integer (nullable = true)
 |-- Visita_Site_Mes: integer (nullable = true)
 |-- Tentativa_3: string (nullable = true)
 |-- Tentativa_4: string (nullable = true)
 |-- Tentativa_5: string (nullable = true)
 |-- Tentativa_1: string (nullable = true)
 |-- Tentativa_2: string (nullable = true)
 |-- Reclamacao: string (nullable = true)
 |-- Resposta: string (nullable = true)

## *Iniciando limpezas e alterações com PySpark*

In [ ]:
df.show(5)

+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+-----------+-----------+-----------+-----------+-----------+----------+--------+
|  ID|Ano_Nascimento|Nivel_Educacional| Estado_Civil|  Renda|Crianças_Em_Casa|Adolescentes_Em_Casa|Inscricao_Consumidor|Dias_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gast_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visita_Site_Mes|Tentativa_3|Tentativa_4|Tentativa_5|Tentativa_1|Tentativa_2|Reclamacao|Resposta|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+-----------+-----------+-----------+-----------+-----------+----------+--------+
|5524|          1957|        Graduação|     Solteiro|58138.0|               0|                   0|          2012-04-09|                58|        635|          88|        546|        172|         88|       88|               3|          8|              10|           4|              7|        Não|        Não|        Não|        Não|        Não|       Não|     Sim|
|2174|          1954|        Graduação|     Solteiro|46344.0|               1|                   1|          2014-08-03|                38|         11|           1|          6|          2|          1|        6|               2|          1|               1|           2|              5|        Não|        Não|        Não|        Não|        Não|       Não|     Não|
|4141|          1965|        Graduação|União Estável|71613.0|               0|                   0|          2013-08-21|                26|        426|          49|        127|        111|         21|       42|               1|          8|               2|          10|              4|        Não|        Não|        Não|        Não|        Não|       Não|     Não|
|6182|          1984|        Graduação|União Estável|26646.0|               1|                   0|          2014-10-02|                26|         11|           4|         20|         10|          3|        5|               2|          2|               0|           4|              6|        Não|        Não|        Não|        Não|        Não|       Não|     Não|
|5324|          1981|              PhD|       Casado|58293.0|               1|                   0|          2014-01-19|                94|        173|          43|        118|         46|         27|       15|               5|          5|               3|           6|              5|        Não|        Não|        Não|        Não|        Não|       Não|     Não|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+-----------+-----------+-----------+-----------+-----------+----------+--------+
only showing top 5 rows

In [ ]:
df = df.withColumn('Inscricao_Consumidor', F.to_date('Inscricao_Consumidor'))
df.show(5)

# Mudando coluna de data de Timestamp para Datetime pois não temos os horários,
# Assim a visualização fica mais limpa

+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+-----------+-----------+-----------+-----------+-----------+----------+--------+
|  ID|Ano_Nascimento|Nivel_Educacional| Estado_Civil|  Renda|Crianças_Em_Casa|Adolescentes_Em_Casa|Inscricao_Consumidor|Dias_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gast_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visita_Site_Mes|Tentativa_3|Tentativa_4|Tentativa_5|Tentativa_1|Tentativa_2|Reclamacao|Resposta|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+-----------+-----------+-----------+-----------+-----------+----------+--------+
|5524|          1957|        Graduação|     Solteiro|58138.0|               0|                   0|          2012-04-09|                58|        635|          88|        546|        172|         88|       88|               3|          8|              10|           4|              7|        Não|        Não|        Não|        Não|        Não|       Não|     Sim|
|2174|          1954|        Graduação|     Solteiro|46344.0|               1|                   1|          2014-08-03|                38|         11|           1|          6|          2|          1|        6|               2|          1|               1|           2|              5|        Não|        Não|        Não|        Não|        Não|       Não|     Não|
|4141|          1965|        Graduação|União Estável|71613.0|               0|                   0|          2013-08-21|                26|        426|          49|        127|        111|         21|       42|               1|          8|               2|          10|              4|        Não|        Não|        Não|        Não|        Não|       Não|     Não|
|6182|          1984|        Graduação|União Estável|26646.0|               1|                   0|          2014-10-02|                26|         11|           4|         20|         10|          3|        5|               2|          2|               0|           4|              6|        Não|        Não|        Não|        Não|        Não|       Não|     Não|
|5324|          1981|              PhD|       Casado|58293.0|               1|                   0|          2014-01-19|                94|        173|          43|        118|         46|         27|       15|               5|          5|               3|           6|              5|        Não|        Não|        Não|        Não|        Não|       Não|     Não|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+-----------+-----------+-----------+-----------+-----------+----------+--------+
only showing top 5 rows

In [ ]:
df.count()
# Fiz a contagem de linhas para verificação de valores nulos

2209

In [ ]:
df.dropna().count()
# Aqui fiz a contagem com o dropna() para me devolver a contagem já retirando as linhas com valores nulos.

2209

In [ ]:
# Os nulos foram removidos pelo Pandas, mas caso fosse necessário removier via PySpark, o código seria esse:

# df = df.na.drop()

# ou

# df = df.dropna()

# Ambos eliminariam a linha toda que tiver qualquer campo nulo.

In [ ]:
df.show(5)

+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+-----------+-----------+-----------+-----------+-----------+----------+--------+
|  ID|Ano_Nascimento|Nivel_Educacional| Estado_Civil|  Renda|Crianças_Em_Casa|Adolescentes_Em_Casa|Inscricao_Consumidor|Dias_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gast_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visita_Site_Mes|Tentativa_3|Tentativa_4|Tentativa_5|Tentativa_1|Tentativa_2|Reclamacao|Resposta|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+-----------+-----------+-----------+-----------+-----------+----------+--------+
|5524|          1957|        Graduação|     Solteiro|58138.0|               0|                   0|          2012-04-09|                58|        635|          88|        546|        172|         88|       88|               3|          8|              10|           4|              7|        Não|        Não|        Não|        Não|        Não|       Não|     Sim|
|2174|          1954|        Graduação|     Solteiro|46344.0|               1|                   1|          2014-08-03|                38|         11|           1|          6|          2|          1|        6|               2|          1|               1|           2|              5|        Não|        Não|        Não|        Não|        Não|       Não|     Não|
|4141|          1965|        Graduação|União Estável|71613.0|               0|                   0|          2013-08-21|                26|        426|          49|        127|        111|         21|       42|               1|          8|               2|          10|              4|        Não|        Não|        Não|        Não|        Não|       Não|     Não|
|6182|          1984|        Graduação|União Estável|26646.0|               1|                   0|          2014-10-02|                26|         11|           4|         20|         10|          3|        5|               2|          2|               0|           4|              6|        Não|        Não|        Não|        Não|        Não|       Não|     Não|
|5324|          1981|              PhD|       Casado|58293.0|               1|                   0|          2014-01-19|                94|        173|          43|        118|         46|         27|       15|               5|          5|               3|           6|              5|        Não|        Não|        Não|        Não|        Não|       Não|     Não|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+-----------+-----------+-----------+-----------+-----------+----------+--------+
only showing top 5 rows

In [ ]:
df = df.withColumn('1_Tentativa', F.col('Tentativa_1'))
df = df.withColumn('2_Tentativa', F.col('Tentativa_2'))
df = df.withColumn('3_Tentativa', F.col('Tentativa_3'))
df = df.withColumn('4_Tentativa', F.col('Tentativa_4'))
df = df.withColumn('5_Tentativa', F.col('Tentativa_5'))
df.show(5)

# Criando novas colunas para ordenar as colunas de tentativas de vendas.

+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+-----------+-----------+-----------+-----------+-----------+----------+--------+-----------+-----------+-----------+-----------+-----------+
|  ID|Ano_Nascimento|Nivel_Educacional| Estado_Civil|  Renda|Crianças_Em_Casa|Adolescentes_Em_Casa|Inscricao_Consumidor|Dias_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gast_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visita_Site_Mes|Tentativa_3|Tentativa_4|Tentativa_5|Tentativa_1|Tentativa_2|Reclamacao|Resposta|1_Tentativa|2_Tentativa|3_Tentativa|4_Tentativa|5_Tentativa|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+-----------+-----------+-----------+-----------+-----------+----------+--------+-----------+-----------+-----------+-----------+-----------+
|5524|          1957|        Graduação|     Solteiro|58138.0|               0|                   0|          2012-04-09|                58|        635|          88|        546|        172|         88|       88|               3|          8|              10|           4|              7|        Não|        Não|        Não|        Não|        Não|       Não|     Sim|        Não|        Não|        Não|        Não|        Não|
|2174|          1954|        Graduação|     Solteiro|46344.0|               1|                   1|          2014-08-03|                38|         11|           1|          6|          2|          1|        6|               2|          1|               1|           2|              5|        Não|        Não|        Não|        Não|        Não|       Não|     Não|        Não|        Não|        Não|        Não|        Não|
|4141|          1965|        Graduação|União Estável|71613.0|               0|                   0|          2013-08-21|                26|        426|          49|        127|        111|         21|       42|               1|          8|               2|          10|              4|        Não|        Não|        Não|        Não|        Não|       Não|     Não|        Não|        Não|        Não|        Não|        Não|
|6182|          1984|        Graduação|União Estável|26646.0|               1|                   0|          2014-10-02|                26|         11|           4|         20|         10|          3|        5|               2|          2|               0|           4|              6|        Não|        Não|        Não|        Não|        Não|       Não|     Não|        Não|        Não|        Não|        Não|        Não|
|5324|          1981|              PhD|       Casado|58293.0|               1|                   0|          2014-01-19|                94|        173|          43|        118|         46|         27|       15|               5|          5|               3|           6|              5|        Não|        Não|        Não|        Não|        Não|       Não|     Não|        Não|        Não|        Não|        Não|        Não|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+-----------+-----------+-----------+-----------+-----------+----------+--------+-----------+-----------+-----------+-----------+-----------+
only showing top 5 rows

In [ ]:
df = df.drop('Tentativa_3')
df = df.drop('Tentativa_4')
df = df.drop('Tentativa_5')
df = df.drop('Tentativa_1')
df = df.drop('Tentativa_2')
df.show(3)

# Feito o drop das colunas antigas e fora de ordem.

+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+
|  ID|Ano_Nascimento|Nivel_Educacional| Estado_Civil|  Renda|Crianças_Em_Casa|Adolescentes_Em_Casa|Inscricao_Consumidor|Dias_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gast_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visita_Site_Mes|Reclamacao|Resposta|1_Tentativa|2_Tentativa|3_Tentativa|4_Tentativa|5_Tentativa|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+
|5524|          1957|        Graduação|     Solteiro|58138.0|               0|                   0|          2012-04-09|                58|        635|          88|        546|        172|         88|       88|               3|          8|              10|           4|              7|       Não|     Sim|        Não|        Não|        Não|        Não|        Não|
|2174|          1954|        Graduação|     Solteiro|46344.0|               1|                   1|          2014-08-03|                38|         11|           1|          6|          2|          1|        6|               2|          1|               1|           2|              5|       Não|     Não|        Não|        Não|        Não|        Não|        Não|
|4141|          1965|        Graduação|União Estável|71613.0|               0|                   0|          2013-08-21|                26|        426|          49|        127|        111|         21|       42|               1|          8|               2|          10|              4|       Não|     Não|        Não|        Não|        Não|        Não|        Não|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+
only showing top 3 rows

In [ ]:
df = df.withColumn('Total de Compras', F.col('Gasto_Vinho') + F.col('Gasto_Frutas') + F.col('Gasto_Carne') + F.col('Gasto_Peixe') + F.col('Gasto_Doces') + F.col('Gast_Ouro'))
df.show(5)

# Criado nova coluna com o Total de Compras em valor.

+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------+
|  ID|Ano_Nascimento|Nivel_Educacional| Estado_Civil|  Renda|Crianças_Em_Casa|Adolescentes_Em_Casa|Inscricao_Consumidor|Dias_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gast_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visita_Site_Mes|Reclamacao|Resposta|1_Tentativa|2_Tentativa|3_Tentativa|4_Tentativa|5_Tentativa|Total de Compras|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------+
|5524|          1957|        Graduação|     Solteiro|58138.0|               0|                   0|          2012-04-09|                58|        635|          88|        546|        172|         88|       88|               3|          8|              10|           4|              7|       Não|     Sim|        Não|        Não|        Não|        Não|        Não|            1617|
|2174|          1954|        Graduação|     Solteiro|46344.0|               1|                   1|          2014-08-03|                38|         11|           1|          6|          2|          1|        6|               2|          1|               1|           2|              5|       Não|     Não|        Não|        Não|        Não|        Não|        Não|              27|
|4141|          1965|        Graduação|União Estável|71613.0|               0|                   0|          2013-08-21|                26|        426|          49|        127|        111|         21|       42|               1|          8|               2|          10|              4|       Não|     Não|        Não|        Não|        Não|        Não|        Não|             776|
|6182|          1984|        Graduação|União Estável|26646.0|               1|                   0|          2014-10-02|                26|         11|           4|         20|         10|          3|        5|               2|          2|               0|           4|              6|       Não|     Não|        Não|        Não|        Não|        Não|        Não|              53|
|5324|          1981|              PhD|       Casado|58293.0|               1|                   0|          2014-01-19|                94|        173|          43|        118|         46|         27|       15|               5|          5|               3|           6|              5|       Não|     Não|        Não|        Não|        Não|        Não|        Não|             422|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------+
only showing top 5 rows

In [ ]:
df = df.withColumn('Qdt_Compras_Todas_Plataformas', F.col('Compras_Web') + F.col('Compras_Catalogo') + F.col('Compras_Loja'))
df.show(5)

# Criado nova coluna com total de quantidade de compra somando Web, Catálogo e Loja.

+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------+-----------------------------+
|  ID|Ano_Nascimento|Nivel_Educacional| Estado_Civil|  Renda|Crianças_Em_Casa|Adolescentes_Em_Casa|Inscricao_Consumidor|Dias_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gast_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visita_Site_Mes|Reclamacao|Resposta|1_Tentativa|2_Tentativa|3_Tentativa|4_Tentativa|5_Tentativa|Total de Compras|Qdt_Compras_Todas_Plataformas|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------+-----------------------------+
|5524|          1957|        Graduação|     Solteiro|58138.0|               0|                   0|          2012-04-09|                58|        635|          88|        546|        172|         88|       88|               3|          8|              10|           4|              7|       Não|     Sim|        Não|        Não|        Não|        Não|        Não|            1617|                           22|
|2174|          1954|        Graduação|     Solteiro|46344.0|               1|                   1|          2014-08-03|                38|         11|           1|          6|          2|          1|        6|               2|          1|               1|           2|              5|       Não|     Não|        Não|        Não|        Não|        Não|        Não|              27|                            4|
|4141|          1965|        Graduação|União Estável|71613.0|               0|                   0|          2013-08-21|                26|        426|          49|        127|        111|         21|       42|               1|          8|               2|          10|              4|       Não|     Não|        Não|        Não|        Não|        Não|        Não|             776|                           20|
|6182|          1984|        Graduação|União Estável|26646.0|               1|                   0|          2014-10-02|                26|         11|           4|         20|         10|          3|        5|               2|          2|               0|           4|              6|       Não|     Não|        Não|        Não|        Não|        Não|        Não|              53|                            6|
|5324|          1981|              PhD|       Casado|58293.0|               1|                   0|          2014-01-19|                94|        173|          43|        118|         46|         27|       15|               5|          5|               3|           6|              5|       Não|     Não|        Não|        Não|        Não|        Não|        Não|             422|                           14|
+----+--------------+-----------------+-------------+-------+----------------+--------------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+---------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------+-----------------------------+
only showing top 5 rows

In [ ]:
df = df.withColumnRenamed('Gast_Ouro', 'Gasto_Ouro')
df = df.withColumnRenamed('Crianças_Em_Casa', 'Qtd_Criancas')
df = df.withColumnRenamed('Adolescentes_Em_Casa', 'Qtd_Adolescentes')
df = df.withColumnRenamed('Total de Compras', 'Valor_Total_Em_Compras')
df.show(5)

# Renomeadas as colunas acima para melhor entendimento.

+----+--------------+-----------------+-------------+-------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+
|  ID|Ano_Nascimento|Nivel_Educacional| Estado_Civil|  Renda|Qtd_Criancas|Qtd_Adolescentes|Inscricao_Consumidor|Dias_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visita_Site_Mes|Reclamacao|Resposta|1_Tentativa|2_Tentativa|3_Tentativa|4_Tentativa|5_Tentativa|Valor_Total_Em_Compras|Qdt_Compras_Todas_Plataformas|
+----+--------------+-----------------+-------------+-------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+
|5524|          1957|        Graduação|     Solteiro|58138.0|           0|               0|          2012-04-09|                58|        635|          88|        546|        172|         88|        88|               3|          8|              10|           4|              7|       Não|     Sim|        Não|        Não|        Não|        Não|        Não|                  1617|                           22|
|2174|          1954|        Graduação|     Solteiro|46344.0|           1|               1|          2014-08-03|                38|         11|           1|          6|          2|          1|         6|               2|          1|               1|           2|              5|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                    27|                            4|
|4141|          1965|        Graduação|União Estável|71613.0|           0|               0|          2013-08-21|                26|        426|          49|        127|        111|         21|        42|               1|          8|               2|          10|              4|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                   776|                           20|
|6182|          1984|        Graduação|União Estável|26646.0|           1|               0|          2014-10-02|                26|         11|           4|         20|         10|          3|         5|               2|          2|               0|           4|              6|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                    53|                            6|
|5324|          1981|              PhD|       Casado|58293.0|           1|               0|          2014-01-19|                94|        173|          43|        118|         46|         27|        15|               5|          5|               3|           6|              5|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                   422|                           14|
+----+--------------+-----------------+-------------+-------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+
only showing top 5 rows

In [ ]:
df = df.withColumn('Idade', 2022 - F.col('Ano_Nascimento'))

# Criado coluna Idade, para melhor análise dos dados.

In [ ]:
df = df.withColumn('Faixa_De_Idade', F.when((F.col('Idade') > 0) & (F.col('Idade') < 12), F.lit('Criança'))\
              .when((F.col('Idade') > 11) & (F.col('Idade') < 20), F.lit('Adolescente'))\
              .when((F.col('Idade') > 19) & (F.col('Idade') < 30), F.lit('Jovem Adulto'))\
              .when((F.col('Idade') > 29) & (F.col('Idade') < 40), F.lit('Adulto'))\
              .when((F.col('Idade') > 39) & (F.col('Idade') < 55), F.lit('Adulto Sênior'))\
              .when((F.col('Idade') > 54) & (F.col('Idade') < 65), F.lit('Sênior'))\
              .when((F.col('Idade') > 64) & (F.col('Idade') < 85), F.lit('Idoso'))\
              .otherwise(F.lit('Ancião')))

df.show(10)

# Também criado coluna baseada na faixa de idade do cliente.

+----+--------------+-----------------+-------------+-------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+-----+--------------+
|  ID|Ano_Nascimento|Nivel_Educacional| Estado_Civil|  Renda|Qtd_Criancas|Qtd_Adolescentes|Inscricao_Consumidor|Dias_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visita_Site_Mes|Reclamacao|Resposta|1_Tentativa|2_Tentativa|3_Tentativa|4_Tentativa|5_Tentativa|Valor_Total_Em_Compras|Qdt_Compras_Todas_Plataformas|Idade|Faixa_De_Idade|
+----+--------------+-----------------+-------------+-------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+-----+--------------+
|5524|          1957|        Graduação|     Solteiro|58138.0|           0|               0|          2012-04-09|                58|        635|          88|        546|        172|         88|        88|               3|          8|              10|           4|              7|       Não|     Sim|        Não|        Não|        Não|        Não|        Não|                  1617|                           22|   65|         Idoso|
|2174|          1954|        Graduação|     Solteiro|46344.0|           1|               1|          2014-08-03|                38|         11|           1|          6|          2|          1|         6|               2|          1|               1|           2|              5|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                    27|                            4|   68|         Idoso|
|4141|          1965|        Graduação|União Estável|71613.0|           0|               0|          2013-08-21|                26|        426|          49|        127|        111|         21|        42|               1|          8|               2|          10|              4|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                   776|                           20|   57|        Sênior|
|6182|          1984|        Graduação|União Estável|26646.0|           1|               0|          2014-10-02|                26|         11|           4|         20|         10|          3|         5|               2|          2|               0|           4|              6|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                    53|                            6|   38|        Adulto|
|5324|          1981|              PhD|       Casado|58293.0|           1|               0|          2014-01-19|                94|        173|          43|        118|         46|         27|        15|               5|          5|               3|           6|              5|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                   422|                           14|   41| Adulto Sênior|
|7446|          1967|         Mestrado|União Estável|62513.0|           0|               1|          2013-09-09|                16|        520|          42|         98|          0|         42|        14|               2|          6|               4|          10|              6|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                   716|                           20|   55|        Sênior|
| 965|          1971|        Graduação|   Divorciado|55635.0|           0|               1|          2012-11-13|                34|        235|          65|        164|         50|         49|        27|               4|          7|               3|           7|              6|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                   590|                           17|   51| Adulto Sênior|
|6177|          1985|              PhD|       Casado|33454.0|           1|               0|          2013-08-05|                32|         76|          10|         56|          3|          1|        23|               2|          4|               0|           4|              8|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                   169|                            8|   37|        Adulto|
|4855|          1974|              PhD|União Estável|30351.0|           1|               0|          2013-06-06|                19|         14|           0|         24|          3|          3|         2|               1|          3|               0|           2|              9|       Não|     Sim|        Não|        Não|        Não|        Não|        Não|                    46|                            5|   48| Adulto Sênior|
|5899|          1950|              PhD|União Estável| 5648.0|           1|               1|          2014-03-13|                68|         28|           0|          6|          1|          1|        13|               1|          1|               0|           0|             20|       Não|     Não|        Não|        Não|        Sim|        Não|        Não|                    49|                            1|   72|         Idoso|
+----+--------------+-----------------+-------------+-------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+-----+--------------+
only showing top 10 rows

In [ ]:
df = df.withColumn('Dia_Da_Semana', F.dayofweek(F.col('Inscricao_Consumidor')))

# Criada coluna Dia da semana, para análise futura

In [ ]:
df.count()

# Conferindo se há duplicidade de informação

2209

In [ ]:
df.drop('ID').distinct().count()

# Excluindo o ID, podemos notar que há 182 linhas repetidas.
# Levando em consideração todas as informações que nós temos, seria muito dificil de acreditar
# que essas pessoas tenham as mesmas informações repetidas, considerando idade, formação, salário,
# qtd de filhos, gastos, data de cadastro, data de ultima compra, etc
# Provavelmente esses dados foram inseridos duplicados, então vou removê-los.

2027

In [ ]:
df = df.drop('ID').dropDuplicates()
df.count()

2027

## *Novo Backup + Envio para Google CloudStorage / PySpark / MongoDB*

In [ ]:
dfspark = df

# Criado Backup

In [ ]:
df = df.toPandas()

# transformei em Pandas para fazer o envio para o MongoDB de forma mais rápida

In [ ]:
df['Inscricao_Consumidor'] = df['Inscricao_Consumidor'].astype(str)

# A coluna de data estava dando imcompatibilidade, então transformei em string

In [ ]:
colecao_mod_s = client['Atividade_Individual'].arquivos_modificados_final_spark
colecao_mod_s.insert_many(df.to_dict('records'))

# Criado uma nova coleção para modificações finais com Pandas + Spark

In [ ]:
colecao_mod_s.count_documents({})

# Contagem apenas para verificar se todos os documentos entraram

2027

In [ ]:
df = dfspark

# Transformei o DF novamente para PySpark (usando o backup) para salvar na Google Cloud
# E continuar as análises em PySpark

In [ ]:
df.write.format('csv').save('gs://projeto_individual_soulcode/arquivos_modificados/marketing_campaign_finalizado_PySpark.csv')

# Salvei o DF PySpark na Bucket do Cloud Storage

## *Análises com PySpark*

### Window Functions

In [ ]:
win1 = Window.partitionBy('Faixa_De_Idade').orderBy(F.desc('Renda'))

# Criando a partição separando por faixa de idade e organizando pela maior renda

In [ ]:
df = df.withColumn('Ranking_Renda_Fx_Idade', F.rank().over(win1))

df.show(10)

# Aqui se criou uma coluna baseado em ranking de salário dividido por faixa de Idade

+--------------+-----------------+-------------+--------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+-----+--------------+-------------+----------------------+
|Ano_Nascimento|Nivel_Educacional| Estado_Civil|   Renda|Qtd_Criancas|Qtd_Adolescentes|Inscricao_Consumidor|Dias_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visita_Site_Mes|Reclamacao|Resposta|1_Tentativa|2_Tentativa|3_Tentativa|4_Tentativa|5_Tentativa|Valor_Total_Em_Compras|Qdt_Compras_Todas_Plataformas|Idade|Faixa_De_Idade|Dia_Da_Semana|Ranking_Renda_Fx_Idade|
+--------------+-----------------+-------------+--------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+-----+--------------+-------------+----------------------+
|          1983|        Graduação|     Solteiro|101970.0|           0|               0|          2013-12-03|                69|        722|          27|        102|         44|         72|       168|               0|          6|               8|          13|              2|       Não|     Sim|        Sim|        Não|        Não|        Sim|        Sim|                  1135|                           27|   39|        Adulto|            3|                     1|
|          1990|        Graduação|     Solteiro| 96843.0|           0|               0|          2013-04-23|                60|        448|          71|        951|         40|         17|        17|               1|          6|              11|          10|              2|       Não|     Sim|        Não|        Não|        Não|        Não|        Sim|                  1544|                           27|   32|        Adulto|            3|                     2|
|          1987|              PhD|     Solteiro| 95169.0|           0|               0|          2013-09-10|                 1|       1285|          21|        449|        106|         20|        20|               1|          4|               3|           4|              1|       Não|     Sim|        Sim|        Não|        Não|        Não|        Sim|                  1901|                           11|   35|        Adulto|            3|                     3|
|          1986|        Graduação|       Casado| 92910.0|           0|               0|          2014-04-24|                42|        551|         137|        792|        179|        103|        33|               1|          6|               7|          13|              1|       Não|     Não|        Sim|        Não|        Não|        Sim|        Sim|                  1795|                           26|   36|        Adulto|            5|                     4|
|          1992|         Mestrado|     Solteiro| 92859.0|           0|               0|          2012-10-19|                46|        962|          61|        921|         52|         61|        20|               1|          5|               4|          12|              2|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                  2077|                           21|   30|        Adulto|            6|                     5|
|          1985|        Graduação|       Casado| 92533.0|           0|               0|          2013-12-19|                84|        693|          21|        118|        110|        147|        42|               1|          6|               5|          11|              2|       Não|     Não|        Sim|        Não|        Não|        Não|        Sim|                  1131|                           22|   37|        Adulto|            5|                     6|
|          1983|              PhD|       Casado| 92491.0|           0|               0|          2013-01-05|                71|        979|          44|        935|         29|         25|        22|               1|          7|               5|          12|              3|       Não|     Sim|        Sim|        Não|        Não|        Sim|        Sim|                  2034|                           24|   39|        Adulto|            7|                     7|
|          1986|              PhD|União Estável| 91820.0|           0|               0|          2013-11-23|                72|        410|          73|        747|         76|        161|        30|               0|          5|               5|          12|              1|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                  1497|                           22|   36|        Adulto|            7|                     8|
|          1990|         Mestrado|     Solteiro| 91172.0|           0|               0|          2013-03-27|                94|        162|          28|        818|          0|         28|        56|               0|          4|               3|           7|              3|       Não|     Sim|        Sim|        Sim|        Sim|        Não|        Sim|                  1092|                           14|   32|        Adulto|            4|                     9|
|          1983|              PhD|   Divorciado| 90687.0|           0|               0|          2013-05-22|                98|        982|          17|        672|         23|         34|        51|               1|          6|               2|           8|              2|       Não|     Sim|        Não|        Não|        Não|        Não|        Sim|                  1779|                           16|   39|        Adulto|            4|                    10|
+--------------+-----------------+-------------+--------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+-----+--------------+-------------+----------------------+
only showing top 10 rows

In [ ]:
win2 = Window.partitionBy('Nivel_Educacional').orderBy('Renda')
df.withColumn('Degrau_Salarial', F.lag('Renda',1).over(win2)).show(10)

# Aqui criei um "degrau" salarial organizado pelo nivel educacional de cada consumidor.

+--------------+-----------------+-------------+-------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+-----+--------------+-------------+----------------------+---------------+
|Ano_Nascimento|Nivel_Educacional| Estado_Civil|  Renda|Qtd_Criancas|Qtd_Adolescentes|Inscricao_Consumidor|Dias_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visita_Site_Mes|Reclamacao|Resposta|1_Tentativa|2_Tentativa|3_Tentativa|4_Tentativa|5_Tentativa|Valor_Total_Em_Compras|Qdt_Compras_Todas_Plataformas|Idade|Faixa_De_Idade|Dia_Da_Semana|Ranking_Renda_Fx_Idade|Degrau_Salarial|
+--------------+-----------------+-------------+-------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+-----+--------------+-------------+----------------------+---------------+
|          1992|      Fundamental|     Solteiro| 7500.0|           1|               0|          2012-03-12|                63|         10|          17|         18|          8|         26|        40|               4|          3|               2|           2|              9|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                   119|                            7|   30|        Adulto|            2|                   253|           null|
|          1976|      Fundamental|       Casado| 7500.0|           0|               0|          2012-11-13|                59|          6|          16|         11|         11|          1|        16|               1|          2|               0|           3|              8|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                    61|                            5|   46| Adulto Sênior|            3|                   886|         7500.0|
|          1986|      Fundamental|     Solteiro| 8940.0|           1|               0|          2012-08-22|                25|          1|          45|          3|          4|          6|        42|               3|          3|               1|           3|              8|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                   101|                            7|   36|        Adulto|            4|                   251|         7500.0|
|          1976|      Fundamental|   Divorciado| 9548.0|           1|               0|          2012-08-08|                31|          0|           1|          3|         10|          6|         9|               2|          1|               0|           3|              8|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                    29|                            4|   46| Adulto Sênior|            4|                   885|         8940.0|
|          1973|      Fundamental|União Estável| 9722.0|           1|               0|          2012-02-10|                 7|          6|          17|         16|          6|         16|        42|               4|          3|               1|           3|              8|       Não|     Sim|        Não|        Não|        Não|        Não|        Não|                   103|                            7|   49| Adulto Sênior|            6|                   884|         9548.0|
|          1952|      Fundamental|União Estável|13084.0|           0|               0|          2013-02-11|                29|          2|           0|          7|          3|          7|        10|               1|          1|               0|           3|              6|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                    29|                            4|   70|         Idoso|            2|                   416|         9722.0|
|          1988|      Fundamental|União Estável|13724.0|           1|               0|          2012-08-31|                43|          2|           7|          5|          2|         15|        27|               1|          2|               0|           2|              9|       Não|     Não|        Não|        Não|        Sim|        Não|        Não|                    58|                            4|   34|        Adulto|            6|                   246|        13084.0|
|          1972|      Fundamental|       Casado|14188.0|           0|               0|          2013-02-28|                40|          2|           7|         11|         16|         12|        27|               1|          2|               0|           4|              6|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                    75|                            6|   50| Adulto Sênior|            5|                   875|        13724.0|
|          1996|      Fundamental|       Casado|14421.0|           0|               0|          2014-02-17|                81|          0|           0|          2|          3|          3|         8|               1|          1|               0|           2|              5|       Não|     Não|        Não|        Não|        Sim|        Não|        Não|                    16|                            3|   26|  Jovem Adulto|            2|                    11|        14188.0|
|          1986|      Fundamental|     Solteiro|14906.0|           0|               0|          2012-12-22|                86|          7|           7|         14|          7|         16|        15|               3|          2|               1|           3|              7|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                    66|                            6|   36|        Adulto|            7|                   244|        14421.0|
+--------------+-----------------+-------------+-------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+-----+--------------+-------------+----------------------+---------------+
only showing top 10 rows

### *A renda está diretamente ligada com o gasto?*

In [ ]:
df.filter('Ranking_Renda_Fx_Idade = 1').select('Estado_Civil', 'Nivel_Educacional', 'Idade', 'Faixa_De_Idade', 'Renda', 'Valor_Total_Em_Compras')\
.orderBy('Valor_Total_Em_Compras', ascending=False).show()

# Baseado no top 1 de cada faixa de idade, podemos notar que não tem ligação com o consumo.
# Mesmo rendas altíssimas, não têm correlação com gastos elevados.

+-------------+-----------------+-----+--------------+--------+----------------------+
| Estado_Civil|Nivel_Educacional|Idade|Faixa_De_Idade|   Renda|Valor_Total_Em_Compras|
+-------------+-----------------+-----+--------------+--------+----------------------+
|     Solteiro|         Mestrado|   62|        Sênior| 98777.0|                  2008|
|     Solteiro|        Graduação|   28|  Jovem Adulto| 95529.0|                  1990|
|União Estável|              PhD|  123|        Ancião| 83532.0|                  1853|
|     Solteiro|        Graduação|   39|        Adulto|101970.0|                  1135|
|União Estável|        Graduação|   45| Adulto Sênior|666666.0|                    62|
|       Casado|              PhD|   73|         Idoso|156924.0|                     8|
+-------------+-----------------+-----+--------------+--------+----------------------+

### *Qual o tipo de produto mais vendido?*

In [ ]:
df.agg(F.sum('Gasto_Vinho'), F.sum('Gasto_Frutas'), F.sum('Gasto_Carne'), F.sum('Gasto_Peixe'), F.sum('Gasto_Doces'), F.sum('Gasto_Ouro')).show()

# Vinho é o produto mais vendido pela loja com quase o dobro do segundo item (Carne).

+----------------+-----------------+----------------+----------------+----------------+---------------+
|sum(Gasto_Vinho)|sum(Gasto_Frutas)|sum(Gasto_Carne)|sum(Gasto_Peixe)|sum(Gasto_Doces)|sum(Gasto_Ouro)|
+----------------+-----------------+----------------+----------------+----------------+---------------+
|          618829|            53292|          340427|           75730|           55117|          88536|
+----------------+-----------------+----------------+----------------+----------------+---------------+

### *Qual é o maior público consumidor?*

In [ ]:
df.groupBy('Faixa_De_Idade').agg({'Qdt_Compras_Todas_Plataformas':'sum'}).orderBy('sum(Qdt_Compras_Todas_Plataformas)', ascending=False).show()

# Adulto Sênio (entre 40 e 54 anos) é a faixa com maiores compradores do site.

+--------------+----------------------------------+
|Faixa_De_Idade|sum(Qdt_Compras_Todas_Plataformas)|
+--------------+----------------------------------+
| Adulto Sênior|                             10517|
|         Idoso|                              6073|
|        Sênior|                              5944|
|        Adulto|                              2696|
|  Jovem Adulto|                               187|
|        Ancião|                                22|
+--------------+----------------------------------+

In [ ]:
df.filter('Faixa_De_Idade = "Adulto Sênior"').groupBy('Faixa_De_Idade').agg(F.sum('Gasto_Vinho'), F.sum('Gasto_Frutas'),\
                                                                             F.sum('Gasto_Carne'), F.sum('Gasto_Peixe'),\
                                                                             F.sum('Gasto_Doces'), F.sum('Gasto_Ouro')).show()

# É possível notar que os Adulto Sêniors são os maiores consumidores da loja e seu maior consumo é vinho.

+--------------+----------------+-----------------+----------------+----------------+----------------+---------------+
|Faixa_De_Idade|sum(Gasto_Vinho)|sum(Gasto_Frutas)|sum(Gasto_Carne)|sum(Gasto_Peixe)|sum(Gasto_Doces)|sum(Gasto_Ouro)|
+--------------+----------------+-----------------+----------------+----------------+----------------+---------------+
| Adulto Sênior|          234557|            21307|          133288|           30943|           22296|          35733|
+--------------+----------------+-----------------+----------------+----------------+----------------+---------------+

### *Existe alguma relação entre as compras em diferentes opções (Catálogo, Website e Loja) e as faixas de idade?*

In [ ]:
df.groupBy('Faixa_De_Idade').agg(F.sum('Compras_Web'), F.sum('Compras_Catalogo'), F.sum('Compras_Loja')).show()

# Mesmo entre as idades mais novas, não há um destaque para compras online em relação a compras na loja ou via catalogo.
# A Compra na loja é maior em todas as idades.
# É nítido que existe uma predominância de compras de pessoas com mais idade.

+--------------+----------------+---------------------+-----------------+
|Faixa_De_Idade|sum(Compras_Web)|sum(Compras_Catalogo)|sum(Compras_Loja)|
+--------------+----------------+---------------------+-----------------+
| Adulto Sênior|            3528|                 2103|             4886|
|        Sênior|            1927|                 1290|             2727|
|  Jovem Adulto|              45|                   59|               83|
|        Ancião|               7|                    7|                8|
|        Adulto|             823|                  563|             1310|
|         Idoso|            1972|                 1391|             2710|
+--------------+----------------+---------------------+-----------------+

## *SparkSQL*

### *Query com SparkSQL*

In [ ]:
df.createOrReplaceTempView("sparksql")

Quais os dias da semana que mais vendem?

In [ ]:
spark.sql(
    'SELECT Dia_da_Semana, COUNT(Valor_Total_Em_Compras) AS Valor_Total FROM sparksql \
    GROUP BY dia_da_semana \
    ORDER BY COUNT(Valor_Total_Em_Compras) DESC'
).show()

# Aqui selecionei o dia da semana e a contagem de vendas totais
# É curioso ver que Domingo é o dia que mais vende, porém sábado é o dia que menos vende. (Apesar da pouca diferença)

+-------------+-----------+
|Dia_da_Semana|Valor_Total|
+-------------+-----------+
|            1|        317|
|            4|        298|
|            3|        295|
|            5|        283|
|            2|        282|
|            6|        277|
|            7|        275|
+-------------+-----------+

Organizado por Estado Civil, qual a data mais longa da última compra dos clientes que compraram mais de 1.000 ?

In [ ]:
spark.sql(
    'SELECT Estado_Civil, MAX(dias_ultima_compra) AS Qtd_Dia_Mais_Longo FROM sparksql \
    WHERE valor_total_em_compras > 1000 \
    GROUP BY Estado_Civil'
).show()

# o Max mostra a data mais longa do ultimo dia de compra que tenha o valor acima de 1000

+-------------+------------------+
| Estado_Civil|Qtd_Dia_Mais_Longo|
+-------------+------------------+
|        Viúvo|                98|
|   Divorciado|                98|
|     Solteiro|                98|
|       Casado|                99|
|União Estável|                99|
+-------------+------------------+

Quais os salários entre os níveis educacionais?

In [ ]:
spark.sql(
    'SELECT Nivel_Educacional, MAX(renda) AS Maior_Renda, \
    MIN(renda) AS Menor_Renda, AVG(renda) AS Media_Salarial FROM sparksql \
    GROUP BY nivel_educacional \
    ORDER BY Maior_Renda ASC'
).show()

# maior / menor / média salário de cada formação

+-----------------+-----------+-----------+-----------------+
|Nivel_Educacional|Maior_Renda|Menor_Renda|   Media_Salarial|
+-----------------+-----------+-----------+-----------------+
|      Fundamental|    34445.0|     7500.0|19913.34693877551|
|    Pós Graduação|    96547.0|     7500.0|47595.24324324324|
|         Mestrado|   157733.0|     6560.0|53115.41916167665|
|              PhD|   162397.0|     4023.0| 56040.3778280543|
|        Graduação|   666666.0|     1730.0|52931.67649950836|
+-----------------+-----------+-----------+-----------------+

Quantas compras ocorreram das pessoas que têm salários entre 5 e 10 mil? E qual a faixa etária dessas pessoas?

In [ ]:
spark.sql(
    'SELECT Faixa_de_Idade, SUM(qdt_compras_todas_plataformas) AS Quantidade_de_Compras FROM sparksql \
    WHERE renda BETWEEN 5000 AND 10000 \
    GROUP BY Faixa_de_Idade \
    ORDER BY Quantidade_de_Compras ASC'
).show()

# Selecionando e agrupando por idade, nós conseguimos ver a quantidade de compra por cada faixa de idade entre 5 e 10 mil.

+--------------+---------------------+
|Faixa_de_Idade|Quantidade_de_Compras|
+--------------+---------------------+
|  Jovem Adulto|                    7|
|         Idoso|                    8|
|        Sênior|                   25|
|        Adulto|                   33|
| Adulto Sênior|                   54|
+--------------+---------------------+

Baseado na escolaridade, qual é o maior meio em compras?

In [ ]:
spark.sql(
    'SELECT nivel_educacional, SUM(compras_web), SUM(compras_catalogo), SUM(compras_loja) FROM  sparksql \
    GROUP BY nivel_educacional \
    ORDER BY SUM(compras_loja) DESC'
).show()

# Aqui posso somar o total de compras pela web, pelo catálogo e o total de compras na loja, separado por nível escolar.

+-----------------+----------------+---------------------+-----------------+
|nivel_educacional|sum(compras_web)|sum(compras_catalogo)|sum(compras_loja)|
+-----------------+----------------+---------------------+-----------------+
|        Graduação|            4212|                 2792|             5937|
|              PhD|            1960|                 1302|             2655|
|         Mestrado|            1335|                  864|             1964|
|    Pós Graduação|             701|                  431|             1027|
|      Fundamental|              94|                   24|              141|
+-----------------+----------------+---------------------+-----------------+

Selecione a tabela apenas com os cadasto das pessoas que nasceram nos anos 1899, 1994 e 1944.

In [ ]:
spark.sql(
    'SELECT * FROM sparksql \
    WHERE ano_nascimento IN (1899, 1994, 1944) \
    ORDER BY ano_nascimento DESC'
).show()

# O Where IN me possibilita exibir apenas os valores que estão dentro da lista em parênteses.

+--------------+-----------------+-------------+-------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+-----+--------------+-------------+----------------------+
|Ano_Nascimento|Nivel_Educacional| Estado_Civil|  Renda|Qtd_Criancas|Qtd_Adolescentes|Inscricao_Consumidor|Dias_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visita_Site_Mes|Reclamacao|Resposta|1_Tentativa|2_Tentativa|3_Tentativa|4_Tentativa|5_Tentativa|Valor_Total_Em_Compras|Qdt_Compras_Todas_Plataformas|Idade|Faixa_De_Idade|Dia_Da_Semana|Ranking_Renda_Fx_Idade|
+--------------+-----------------+-------------+-------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+-----+--------------+-------------+----------------------+
|          1994|        Graduação|União Estável|80134.0|           0|               0|          2014-02-14|                11|        966|          26|        282|         52|         26|        26|               1|          2|               7|          11|              5|       Não|     Não|        Sim|        Sim|        Não|        Sim|        Sim|                  1378|                           20|   28|  Jovem Adulto|            6|                     5|
|          1994|        Graduação|União Estável|80685.0|           0|               0|          2012-08-22|                55|        241|          45|        604|         34|         26|        54|               1|          6|               4|          10|              2|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                  1004|                           20|   28|  Jovem Adulto|            4|                     3|
|          1994|        Graduação|     Solteiro|95529.0|           0|               0|          2012-03-12|                29|        770|          29|        890|        250|         27|        24|               1|          7|               3|           7|              3|       Não|     Sim|        Não|        Não|        Não|        Não|        Sim|                  1990|                           17|   28|  Jovem Adulto|            2|                     1|
|          1944|              PhD|     Solteiro|82716.0|           0|               0|          2013-05-11|                 8|        606|         148|        228|         15|        148|        22|               1|          6|               8|          13|              2|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                  1167|                           27|   78|         Idoso|            7|                    26|
|          1944|         Mestrado|       Casado|80184.0|           0|               0|          2014-01-03|                19|       1035|         134|        670|         25|         38|         0|               1|          6|               3|          10|              3|       Não|     Não|        Sim|        Não|        Não|        Não|        Sim|                  1902|                           19|   78|         Idoso|            6|                    46|
|          1944|        Graduação|       Casado|55956.0|           0|               0|          2014-07-04|                22|        760|          38|        104|         50|          9|        38|               2|          7|               3|           4|              4|       Não|     Não|        Não|        Não|        Não|        Sim|        Não|                   999|                           14|   78|         Idoso|            6|                   230|
|          1944|        Graduação|       Casado|80589.0|           0|               0|          2014-01-22|                25|        507|          93|        520|        242|         40|        26|               1|          5|              10|           5|              1|       Não|     Sim|        Sim|        Não|        Não|        Não|        Não|                  1428|                           20|   78|         Idoso|            4|                    42|
|          1944|        Graduação|       Casado|65275.0|           0|               0|          2013-03-04|                 9|        388|          14|        218|         91|         14|        21|               1|          4|               3|          13|              2|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                   746|                           20|   78|         Idoso|            2|                   152|
|          1944|              PhD|   Divorciado|55614.0|           0|               0|          2013-11-27|                85|        504|          13|        131|          8|          0|        26|               1|          9|               4|           6|              7|       Não|     Não|        Não|        Não|        Não|        Sim|        Não|                   682|                           19|   78|         Idoso|            4|                   233|
|          1944|         Mestrado|        Viúvo|45006.0|           0|               0|          2013-07-18|                90|        162|          25|         53|         16|          0|        10|               1|          3|               1|           7|              3|       Não|     Não|        Não|        Não|        Não|        Não|        Não|                   266|                           11|   78|         Idoso|            5|                   325|
|          1899|              PhD|União Estável|83532.0|           0|               0|          2013-09-26|                36|        755|         144|        562|        104|         64|       224|               1|          4|               6|           4|              1|       Não|     Não|        Não|        Não|        Não|        Não|        Sim|                  1853|                           14|  123|        Ancião|            5|                     1|
+--------------+-----------------+-------------+-------+------------+----------------+--------------------+------------------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+---------------+----------+--------+-----------+-----------+-----------+-----------+-----------+----------------------+-----------------------------+-----+--------------+-------------+----------------------+